.btn-chat {
    position: absolute;
    right:2em;
    bottom: 2em; 
    width:70px;
    height: 70px;
    background: $color1;
    border-radius: 50%;
    border:0;
    outline: none;
    transition: all 0.3s ease-in-out;
    &:hover  {
        background: darken($color1 , 10%);
        transition: all 0.3s ease-in-out;
    }
    svg {
        width: 30px;
        height: 30px;
        fill: #fff;
    }
}

.chat-warpper {
    position: absolute;
    display: block;
    bottom: 2em;
    right: 2em;
    left: auto;
    top: auto;
   
}
.chat-container {
    position: absolute;
    bottom: 8em;
    right: 1em;
    background: #ffffff;
    width: 360px;
    box-shadow: 0 13px 70px -10px #000;
    border-radius: 3px;
    height: 400px;
    overflow: hidden;
    .chat-bar {
       background:#07eabe;
       display: block;
       width: 100%;
       padding: 0.5em;
       margin-bottom: 0em;
       height: 43px;
       text-align: center;
       button {
           background: 0;
           border:0; 
           float: right;
           svg {
            fill:#fff;
            width: 15px;
            height: 15px;
           }
       }
       span {
           font-size: 14px;
       }
    }
    .chat-viewer {
        padding: 0.5em;
        background: #fff;
        border-radius: 3px;
        height: 290px;
        overflow-y: scroll;
        position: relative;
        ul {
            margin: 0;
            padding:0;
            list-style: none;
            li {
                padding: 10px;
                border-radius: 3px;
                padding: 3px 10px;
                span.author {
                    color:$color1;
                    color:#00c7a1;
                    font-size: 12px;
                    font-weight: bold;
                }
                p {
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                &:nth-child(odd)  {
                background: #f3f3f3;
                padding: 3px 10px;
            }
            }
        }
    }
    
    .typing {
        position: absolute;
        font-size: 11px;
        color: #9c9c9c;
        padding: 10px;
        bottom: 66px;
        right: 20px;
    }
}

.chat-control {
    textarea {
        border: 0;
        border-top:1px solid #9c9c9c;
        height: 70px;
        border-radius: 0;
        outline: none;
        border: 0;
        font-size: 14px !important;
        border-top: 1px solid #cecece;
    }
}