

.console-warpper {
    display: block;
   
}
.console-container {
    background: #ffffff;
    box-shadow: 0 13px 70px -10px #000;
    border-radius: 3px;
    height: 80vh;
    overflow: hidden;
    margin-top: 110px;
    .console-bar {
       background:#fff;
       display: block;
       width: 100%;
       padding: 0.5em;
       margin-bottom: 0em;
       height: 43px;
       text-align: center;
       button {
           background: 0;
           border:0; 
           float: right;
           svg {
            fill:#07eabe;
            width: 15px;
            height: 15px;
           }
       }
       span {
           font-size: 14px;
       }
    } 
    .console-viewer {
        padding: 0.5em;
        background: #fff;
        border-radius: 3px;
        height: 65vh;
        overflow-y: scroll;
        position: relative;
        ul {
            margin: 0;
            padding:0;
            list-style: none;
            li {
                padding: 10px;
                border-radius: 3px;
                padding: 3px 10px;
                span.author {
                    color:$color1;
                    color:#00c7a1;
                    font-size: 12px;
                    font-weight: bold;
                }
                p {
                    margin-bottom: 5px;
                    font-size: 14px;
                }
                &:nth-child(odd)  {
                background: #f3f3f3;
                padding: 3px 10px;
            }
            }
        }
    }
    
    .typing {
        position: absolute;
        font-size: 11px;
        color: #9c9c9c;
        padding: 10px;
        bottom: 113px;
        
    }
}

.console-control {
    textarea {
        border: 0;
        border-top:1px solid #9c9c9c;
        height: 70px;
        border-radius: 0;
        outline: none;
        border: 0;
        font-size: 14px !important;
        border-top: 1px solid #cecece;
    }
}