<div class="chat-warpper">
  <button (click)="openChat()" class="btn btn-chat">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 473 473"
      style="enable-background:new 0 0 473 473;" xml:space="preserve">
      <g>
        <g>
          <path d="M403.581,69.3c-44.7-44.7-104-69.3-167.2-69.3s-122.5,24.6-167.2,69.3c-86.4,86.4-92.4,224.7-14.9,318
              c-7.6,15.3-19.8,33.1-37.9,42c-8.7,4.3-13.6,13.6-12.1,23.2s8.9,17.1,18.5,18.6c4.5,0.7,10.9,1.4,18.7,1.4
              c20.9,0,51.7-4.9,83.2-27.6c35.1,18.9,73.5,28.1,111.6,28.1c61.2,0,121.8-23.7,167.4-69.3c44.7-44.7,69.3-104,69.3-167.2
              S448.281,114,403.581,69.3z M384.481,384.6c-67.5,67.5-172,80.9-254.2,32.6c-5.4-3.2-12.1-2.2-16.4,2.1c-0.4,0.2-0.8,0.5-1.1,0.8
              c-27.1,21-53.7,25.4-71.3,25.4h-0.1c20.3-14.8,33.1-36.8,40.6-53.9c1.2-2.9,1.4-5.9,0.7-8.7c-0.3-2.7-1.4-5.4-3.3-7.6
              c-73.2-82.7-69.4-208.7,8.8-286.9c81.7-81.7,214.6-81.7,296.2,0C466.181,170.1,466.181,302.9,384.481,384.6z"
          />
          <circle cx="236.381" cy="236.5" r="16.6" />
          <circle cx="321.981" cy="236.5" r="16.6" />
          <circle cx="150.781" cy="236.5" r="16.6" />
        </g>
      </g>
    </svg>
  </button>





  <div class="chat-container" [hidden]="openChatWindow">

    <div class="chat-profile" [hidden]="authorIs == false">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
     <g>
       <g>
         <path d="M437.02,330.98c-27.883-27.882-61.071-48.523-97.281-61.018C378.521,243.251,404,198.548,404,148
           C404,66.393,337.607,0,256,0S108,66.393,108,148c0,50.548,25.479,95.251,64.262,121.962
           c-36.21,12.495-69.398,33.136-97.281,61.018C26.629,379.333,0,443.62,0,512h40c0-119.103,96.897-216,216-216s216,96.897,216,216
           h40C512,443.62,485.371,379.333,437.02,330.98z M256,256c-59.551,0-108-48.448-108-108S196.449,40,256,40
           c59.551,0,108,48.448,108,108S315.551,256,256,256z"/>
       </g>
     </g>
     </svg>
     
        <form #regForm="ngForm" novalidate class="regform">
          
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="newMessage.author" required #author="ngModel" id="author" name="author" (keydown.enter)="enterChat()"
                placeholder="Enter your name" />
              <!-- <button class="btn">Make a deal</button> -->
              <div *ngIf="author.errors && ( author.dirty ||  author.touched )" class="alert alert-danger">Your name is required</div>
            </div>

            <div class="form-group">
                <button [disabled]="(!regForm.form.valid || validatedToken=='')" type="submit" class="btn btn-primary"
                 (click)="enterChat()">Enter</button>
            </div>
          </form>
    </div>

    <div [hidden]="authorIs !== false">
      <div class="chat-box">
        <div class="chat-bar">
          <span class="pull-right">
            <button (click)="closeChat()">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M505.943,6.058c-8.077-8.077-21.172-8.077-29.249,0L6.058,476.693c-8.077,8.077-8.077,21.172,0,29.249
                   C10.096,509.982,15.39,512,20.683,512c5.293,0,10.586-2.019,14.625-6.059L505.943,35.306
                   C514.019,27.23,514.019,14.135,505.943,6.058z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M505.942,476.694L35.306,6.059c-8.076-8.077-21.172-8.077-29.248,0c-8.077,8.076-8.077,21.171,0,29.248l470.636,470.636
                   c4.038,4.039,9.332,6.058,14.625,6.058c5.293,0,10.587-2.019,14.624-6.057C514.018,497.866,514.018,484.771,505.942,476.694z"
                    />
                  </g>
                </g>
              </svg>

            </button>
          </span>
          <span>We are Online !</span>
        </div>
        <div class="chat-viewer">
          <ul class="conversations-list">
            <li>
              <span class="author">Ihab</span>
              <p>Message</p>
            </li>
          </ul>

        </div>
        <span class="typing">Ahmed Typing</span>
      </div>

      <div class="chat-control">
        <form #mesForm="ngForm" novalidate class="regform">
          <div class="form-group">
            <input type="text" class="form-control"  [(ngModel)]="newMessage.message" #message="ngModel" name="message" (keydown.enter)="sendMessage()" placeholder="ENTER to send the Message" />
            <!-- <button class="btn">Make a deal</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>